/* @group CSS Reset */
/* html5doctor.com Reset Stylesheet, v1.4, 2009-07-27, Author: Richard Clark - http://richclarkdesign.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video
{ margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
article,aside,dialog,figure,footer,header,hgroup,nav,section { display:block; }
ul,ol { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before, blockquote:after,
q:before,q:after { content:'';content:none; }
a { margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent; }
ins { background-color:#ff9;color:#000;text-decoration:none; }
mark { background-color:#ff9;color:#000;font-style:italic;font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000;cursor:help; }
table { border-collapse:collapse;border-spacing:0; }
hr { display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0; }
input, select { vertical-align:middle; }
/* @end */
/* @group General */
html, body {
	font:bold 12px/1.4 Helvetica,Arial,sans-serif;
	background:#000;
	color:#fff;
	position:relative;
	height:100%;
	width:100%;
	overflow:hidden;
	display:block;
}

body {
	-webkit-transform-origin:50% 50% 0px;
	-webkit-transform:translate3d(0,0,0);
	-webkit-transform-style:preserve-3d;
	-webkit-perspective:1500;
	background-image:-webkit-gradient(radial, 50% 50%, 850, 50% 50%, 0, from(#222), to(#787878));
}
/* @end */

.Template.cube {
	position:absolute;
	-webkit-transform-origin:50% 50% 0px;
	-webkit-transform-style:preserve-3d;
	top:0;
	left:0;
}

.Template.cube .face {
	-webkit-transform-origin:50% 50% 0px;
	position:absolute;
	top:0;
	left:0;
	-webkit-backface-visibility:visible;
	opacity:.5;
}

.Template.cube .face h1 {
	color:#fff;
	margin-top:-50px;
	font-size:100px;
	line-height:100px;
	font-weight:bold;
	text-align:center;
	position:absolute;
	width:100%;
	top:50%;
	text-transform:lowercase;
	text-shadow:0 1px 0 #000;
	cursor:pointer;
}

.Template.cube .face .return-home,
.Template.cube .face .goto-face  {
	position:absolute;
	top:10px;
	left:10px;
	padding:5px 10px;
	font-size:15px;
	text-transform:uppercase;
	background-color:rgba(0,0,0,.1);
	-webkit-border-radius:3px;
	cursor:pointer;
	opacity:.8;
}

.Template.cube .face .goto-face {
	background-color:transparent;
	font-size:13px;
	opacity:1;
}

.Template.cube .face .goto-face span {
	font-size:15px;
	display:inline-block;
	margin:0 5px;
	padding:5px;
	opacity:.8;
	background-color:rgba(0,0,0,.1);
	-webkit-border-radius:3px;
}

.Template.cube .face .goto-face span:hover,
.Template.cube .face .return-home:hover {
	opacity:1;
}

.Template.cube .face .return-home:active {
	margin-top:1px;
}

.Template.cube .face .goto-face span:active {
	position:relative;
	top:1px;
}

.Template.cube .face h1 small {
	display:block;
	font-size:18px;
	text-transform:uppercase;
	opacity:.5;
	text-shadow:none;
}

.Template.cube .face h1:active {
	margin-top:-49px;
	text-shadow:0 -1px 0 #000;
}

.Template.cube .face.one { background-color:#0B55F2; }
.Template.cube .face.two { background-color:#1DF20B; }
.Template.cube .face.three { background-color:#FA078A; }
.Template.cube .face.four {	background-color:#FA07F1; }

@media only screen and (device-width: 320px) {
.Template.cube .face h1 {
	font-size:50px;
	line-height:50px;
}
}